doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name='viewport', content="width=device-width, initial-scale=1")
    title= settings.title
    script.
      // redirect HTTP to HTTPS
      if(window.location.protocol != 'https:') {
        location.href = location.href.replace("http://", "https://");
      }
    link(rel='stylesheet', href='/themes/' + settings.theme + '/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/jqplot/jquery.jqplot.min.css')
    link(rel='stylesheet', href='/vendor/flags-css/css/flag-icon.min.css')
    link(res='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    script(src='/vendor/jqplot/jquery.jqplot.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.cursor.js')
    script(src='/vendor/jqplot/plugins/jqplot.dateAxisRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.ohlcRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.highlighter.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.pieRenderer.min.js')
    //script(src='/vendor/jqplot/plugins/jqplot.enhancedPieLegendRenderer.js')
    script(src='/vendor/jqplot/plugins/jqplot.barRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.categoryAxisRenderer.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
    script(src='//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js')
    script(src='//cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.js')
    script(src='//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/javascripts/chart.js')
    script.
      $(document).ready(function(){
        $('##{active}').addClass('active');
        function update_stats(){
          $.ajax({url: '/ext/summary', success: function(json){
            var supplyString = json.data[0].supply;
            var burnedSupplyString = json.data[0].burned;
            var diffString = json.data[0].difficulty;
            var hashrateString = json.data[0].hashrate;
            // mempool
            var mempoolinfo_size = json.data[0].mempoolinfo.size;
            var mempoolinfo_bytes = json.data[0].mempoolinfo.bytes;
            
            if(!isNaN(json.data[0].mempoolinfo.size)) {
            	mempoolinfo_size = parseInt(json.data[0].mempoolinfo.size).toLocaleString('en');
            }
            if(!isNaN(json.data[0].mempoolinfo.bytes)) {
            	mempoolinfo_bytes = parseFloat(json.data[0].mempoolinfo.bytes).toFixed(3);
            }
            if (!isNaN(json.data[0].difficulty)) {
              diffString = parseFloat(json.data[0].difficulty).toFixed(5);
            }
            if (!isNaN(json.data[0].supply)) {
              supplyString = parseInt(parseFloat(json.data[0].supply).toFixed(0)).toLocaleString('en');
             
            }
            if(!isNaN(json.data[0].burned)) {
                burnedSupplyString = parseFloat(json.data[0].burned).toLocaleString('en', {'maximumFractionDigits':2});
            }
            if (!isNaN(json.data[0].hashrate)) {
              hashrateString = parseFloat(json.data[0].hashrate).toLocaleString('en');
            }
            $("#supply").text('~' + supplyString);
            $("#burnedSupply").text('~' + burnedSupplyString);
            $("#difficulty").text(diffString);
            //$("#difficultyHybrid").text(json.data[0].difficultyHybrid);
            $("#hashrate").text(hashrateString);
            //$("#lastPrice").text(parseFloat(json.data[0].lastPrice).toFixed(8) + ' #{settings.markets.exchange}'.toUpperCase());
            //$("#marketCap").text((parseFloat(json.data[0].lastPrice).toFixed(8) * parseInt(parseFloat(json.data[0].supply).toFixed(0))).toLocaleString('en') + ' #{settings.markets.exchange}'.toUpperCase());
            $("#lblConnections").text(json.data[0].connections + ' connections');
            $("#lblBlockcount").text(json.data[0].blockcount + ' blocks');
            $("#lblX1").text(' ');
            $("#mempoolinfo").text(mempoolinfo_size + ' (' + mempoolinfo_bytes/1000 + ' KB)');
          }});
        }
        $('.block-last-next').tooltip({
          animation: true,
          delay: { hide: 500 },
        });
        $('.history-table').dataTable( {
          searching: false,
          ordering: false,
          responsive: true
        });
        $('.iquidus').css('color',$('.table').css('color'));
        $(window).resize(function () {
          $($.fn.dataTable.tables( true ) ).DataTable().columns.adjust();
        });
        /*
        setInterval( function() {
          update_stats();
        }, 10000);
        update_stats();
        */
      });
    style(type="text/css").
      .header-icons {
        margin: 0 3px;
      }
  body
    - function format_unixtime(unixtime) {
      - var a = new Date(unixtime*1000);
      - var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      - var year = a.getFullYear();
      - var month = months[a.getMonth()];
      - var date = a.getDate();
      - var hour = a.getHours();
      - var min = a.getMinutes();
      - var sec = a.getSeconds();
      - var suffix = 'th'
      if date == 1 || date == 21 || date == 31
        - suffix = 'st'
      if date == 2 || date == 22 || date == 32
        - suffix = 'nd'
      if date == 3 || date == 23
        - suffix = 'rd'
      if hour < 10
        - hour = '0' + hour
      if min < 10
        - min = '0' + min
      if sec < 10
        - sec = '0' + sec
      - var time = date + suffix + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
      - return time
    -  };
    - var navbarClasses = ['nav','navbar','navbar-expand-lg','fixed-top'];
    - var footerClasses = ['nav','navbar','navbar-default','fixed-bottom','d-none','d-md-flex','d-flex','footer','flex-nowrap'];
    if settings.display.navbar_dark == true
      - navbarClasses.push('bg-dark');
      - navbarClasses.push('navbar-dark');
      - footerClasses.push('bg-dark');
      - footerClasses.push('navbar-dark');
    else
      if settings.display.navbar_light == true
        - navbarClasses.push('bg-light');
        - navbarClasses.push('navbar-light');
        - footerClasses.push('bg-light');
        - footerClasses.push('navbar-light');
      else
        - navbarClasses.push('bg-primary');
        - navbarClasses.push('navbar-dark');
        - footerClasses.push('bg-primary');
        - footerClasses.push('navbar-dark');
    div(class=navbarClasses, role='navigation')
      .navbar-header
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          span.navbar-toggler-icon 
        a.navbar-brand(href='/')
          if typeof settings.headerlogo !== "undefined" && settings.headerlogo && settings.headerlogo.length > 1
            img(src=settings.headerlogo, style='height:42px;')
          else
            =settings.title
      .collapse.navbar-collapse(id='navbar-collapse')
        ul.navbar-nav.mr-auto
          li#home
            a.nav-link(href='/')
              span.fa.fa-search
              span.menu-text #{settings.locale.menu_explorer}
          if settings.heavy == true
            li#reward
              a.nav-link(href='/reward')
                span.fa.fa-star
                span.menu-text #{settings.locale.menu_reward}
          if settings.display.movement == true
            li#movement
              a.nav-link.loading(href='/movement')
                span.fa.fa-money
                span.menu-text #{settings.locale.menu_movement}
          if settings.display.network == true
            li#network
              a.nav-link(href='/network')
                span.fa.fa-share-alt
                span.menu-text #{settings.locale.menu_network}
          if settings.display.richlist == true
            li#richlist
              a.nav-link(href='/richlist')
                span.fa.fa-btc
                span.menu-text #{settings.locale.menu_richlist}
          if settings.display.stats == true
            li#stats
              a.nav-link.loading(href='/stats')
                span.fa.fa-bar-chart
                span.menu-text #{settings.locale.menu_stats}
          if settings.display.markets == true
            li#markets
              a.nav-link.loading(href='/markets/'+settings.markets.default)
                span.fa.fa-line-chart
                span.menu-text #{settings.locale.menu_markets}
          if settings.display.api == true
            li#info
              a.nav-link(href='/info')
                span.fa.fa-info-circle
                span.menu-text #{settings.locale.menu_api}
          li#blog
            a.nav-link(href='https://blog.givelotus.org' target='_blank')
              span.fa.fa-book
              span.menu-text Blog
    .col-md-12
      .row.text-center(style='margin-top:10px;margin-bottom:20px;')
        form.form-inline.col-12.d-flex.justify-content-center(method='post', action='/search')
          #index-search.form-group.d-flex.justify-content-center
            input.form-control(type='text', name='search', placeholder=settings.locale.ex_search_message, style='min-width:80%;margin-right:5px;')
            button.btn.btn-success(type='submit') #{settings.locale.ex_search_button}
    block content
    div(class=footerClasses, role='navigation')
      .col-md-4.navbar-nav
        if settings.display.twitter || settings.display.facebook || settings.display.googleplus || settings.display.youtube
          ul.nav.justify-content-left
            if settings.display.twitter
              li.pull-left
                a#twitter-icon.nav-link.social-link(href="https://twitter.com/"+settings.twitter, target='_blank')
                  span.glyphicon.fa.fa-twitter
            if settings.display.facebook
              li.pull-left
                a#facebook-icon.nav-link.social-link(href="https://www.facebook.com/"+settings.facebook, target='_blank')
                  span.glyphicon.fa.fa-facebook
            if settings.display.googleplus
              li.pull-left
                a#googleplus-icon.nav-link.social-link(href="https://plus.google.com/"+settings.googleplus, target='_blank')
                  span.glyphicon.fa.fa-google-plus
            if settings.display.youtube
              li.pull-left
                a#youtube-icon.nav-link.social-link(href="https://www.youtube.com/channel/"+settings.youtube, target='_blank')
                  span.glyphicon.fa.fa-youtube
      .col-md-4.navbar-nav
        ul.nav.justify-content-center
          li.text-center(style='margin-left:12px;margin-right:12px;')
            p(style='')
              a.nav-link.poweredby(href='https://github.com/maff1989/lotus-explorer', target='_blank') Lotus Explorer v#{settings.iquidus_version} (Based on Iquidus)
      .col-md-4.navbar-nav
        ui.nav.justify-content-end
          label#lblBlockcount.badge.badge-pill.nav-link
          label#lblConnections.badge.badge-pill.nav-link
